{%extends "base.html" %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>External References</title>
</head>
<body>

{% block content_externalreference%}

<h3>This page presents quicker access to few of the external references related to mathematical functions supporting towards data science learning journey.</h3>
<p>
    <table border = "5" cellpadding = "10" cellspacing = "10">
        <tr>
            <th>Sr.No</th>
            <th>Function Name</th>
            <th>Function Outcomes</th>
        </tr>

        <tr>
            <td>1</td>
            <td>Derivative of x^2</td>
            <td>
                <a href = "https://newton.now.sh/api/v2/derive/x%5E2">Click Here</a>
            </td>

        </tr>

        <tr>
            <td>2</td>
            <td>Mathematical Simplication of 2^3+4(5)</td>
            <td>
                <a href = "https://newton.now.sh/api/v2/simplify/2^3+4(5)">Click Here</a>
            </td>
         </tr>

        <tr>
            <td>3</td>
            <td>Absolute Value of -10</td>
            <td>
                <a href = "https://newton.now.sh/api/v2/abs/-10">Click Here</a>
            </td>
        </tr>

        <tr>
            <td>4</td>
            <td>Logarithm of 2l8</td>
            <td>
                <a href = "https://newton.now.sh/api/v2/log/2l8">Click Here</a>
            </td>
        </tr>

        <tr>
            <td>5</td>
            <td>Find 0's in x^2+2x</td>
            <td>
                <a href = "https://newton.now.sh/api/v2/zeroes/x^2+2x">Click Here</a>
            </td>
        </tr>


</p>


{% endblock %}


</body>

</html>