{%extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reference List</title>
</head>
<body>

{% block content_reference%}

</br>

<h3>Here is the list of all supporting websites and external sources towards data science learning journey.</h3>

<p>
    <ol>
        <li><a href = "https://intellipaat.com/blog/tutorial/python-tutorial/">Intellipat: Python Tutorial for Beginners Online</a></li>
        <li><a href = "https://data-flair.training/blogs/python-tutorials-home/">DataFlaire: Python Tutorials</a></li>
        <li><a href = "https://www.programiz.com/python-programming/examples">Programiz: Python Programming Examples</a></li>
    </ol>

</p>


{% endblock %}


</body>

</html>